
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --btn-color: hsl(245, 75%, 52%);
    --bright-blue: hsl(245, 75%, 52%);
    --text-color: hsl(224, 23%, 55%);
    --title-color: hsl(223, 47%, 23%);
    --payment-color: hsl(226, 30%, 97%);

    --text-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    background: url("images/pattern-background-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container_card{
    display: flex;
    justify-content:center;
    align-self: center;
    width: 100%;
    height: 100vh;
    padding-top: 2rem;
}

.card{
    width: 365px;
    height: 625px;
    overflow: hidden;
    text-align: center;
    border-radius: 1.5rem;
    background-color: white;
}

.img{
    height: 180px;
    object-fit: cover;
}

.title{
    color: var(--title-color);
    font-weight: 900;
    padding: 1rem;
}

.container_payment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: .5rem auto;
    padding: 1rem;
    border-radius: 1.2rem;
    background-color: var(--payment-color);
}

.payment__text{
    color: var(--title-color);
    font-weight: 900;
}

.price{
    font-weight: 500;
}

.change_link{
    font-weight: 900;
}
.change_link a:hover{
    text-decoration: none;
    opacity: 0.7;
}

.main_button{
    margin: 2rem;
    padding: 1rem;
    background-color: var(--btn-color);
    color: white;
    font-weight: 600;
    border-radius: .8rem;
    box-shadow: 2px 10px 85px 10px rgba(56,40,224,0.2);
    cursor: pointer;
}
.main_button:hover{
    opacity: 0.7;

}
.cancel_order{
    color: var(--text-color);
    font-weight: 700;
}
.cancel_order:hover{
    color: var(--title-color);
    cursor: pointer;
}
.text_box{
    color: var(--text-color);
}

.price{
    color: var(--text-color);
}

.attribution{
    text-align: center;
}

/* Media Query section begins */
@media(max-width:1440px){
    .card{
        width: 400px;
    }

    .img{
        height: 200px;
    }

    .text_box{
        margin: .8rem;
    }
    .payment__text{
        padding-right: 3.5rem;
    }
}

@media(max-width:375px){
    body{
        background: url("images/pattern-background-mobile.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .card{
        width: 300px;
    }

    .img{
        height: 150px;
    }

    .text_box{
        margin: .5rem;
    }
    .payment__text{
        font-size: .7rem;
        padding-right: .1rem;
    }

    .change_link{
        font-size: .8rem;
    }
    .icon{
        width: 1rem;
    }
    .attribution{
        margin: 10px;
        text-align: center;
    }
}
