*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.wrapper{
  background-image: url('./images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-color: aliceblue;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.wrapper{
    height: 100vh;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}
.card-body h2{
  color:hsl(223, 47%, 23%);
  font-weight: 900;
}

.card-body p{
    margin: 25px 50px;
    text-align: center;
    background-color: #fff;
    color: #d3d3d3;
    line-height: 1.4;
    font-size: 120%;
    font-family: arial;
}
